<h2>About</h2>

		<p>IVANHOE is an environment for textual interpretation, designed to foster critical awareness of the methods and perspectives through which students and scholars understand humanities documents. It is therefore a ludic extension of traditional critical and bibliographical studies. And more: the online IVANHOE Playspace is a pedagogical tool for exposing the indeterminacy of humanities texts to role-play and performative intervention by students at all levels.</p>
<p>While we often refer to IVANHOE as a &#8220;game,&#8221; it is important to understand that the concept has broader implications for humanities pedagogy and research, and that many modes of sophisticated, scholarly gamesmanship are possible in the IVANHOE environment. The &#8220;rules&#8221; of the game are up to its players and initiators. IVANHOE can foster both competitive and collaborative interaction, well suited to research and teaching.</p>

<p><b>No, really: what is IVANHOE?</b></p>
<p>In simple terms, IVANHOE is a digital space in which players take on alternate identities in order to collaborate in expanding and making changes to a &#8220;discourse field,&#8221; the documentary manifestation of a set of ideas.</p>
<p>It was conceived at <a href="http://www.speculativecomputing.org" target="_blank">SpecLab</a> and is being developed by <a href="http://www.patacriticism.org" target="_blank">ARP</a>.  IVANHOE will be released to open-source developers under an <a href="http://www.opensource.org/licenses/ecl1.php" target="_blank">Educational Community License</a> in late 2006.</p>

<p> </p>
<p><b>Further reading:</b>
<ul>
<li>Special Issue of <i><a href="http://texttechnology.mcmaster.ca">Text Technology</a></i> (12:2, 2003)</li>
<li>SpecLab&#8217;s <a href="http://www.speculativecomputing.org/ivanhoe/index.html">IVANHOE page</a></li>
<li>Johanna Drucker and Geoffrey Rockwell, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_01.pdf">Introduction: Reflections on the Ivanhoe Game</a></li>

<li>Jerome McGann, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_02.pdf">Texts in N-Dimensions and Interpretation in a New Key</a></li>
<li>Johanna Drucker, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_03.pdf">Designing Ivanhoe</a></li>
<li>Chandler Sansing, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_04.pdf">Building the Ivanhoe Game for Classroom Flexibility</a></li>
<li>Bethany Nowviskie, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_05.pdf">Subjectivity in the Ivanhoe Game: Visual and Computational Strategies</a></li>
<li>Geoffrey Rockwell, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_06.pdf">Serious Play at Hand: Is Gaming Serious Research in the Humanities?</a></li>
<li>Special &#8220;Innovations&#8221; Issue of <i><a href="http://www.rc.umd.edu/pedagogies/commons/innovations">Romantic Circles Pedagogy Commons</a></i> (January 2005)</li>

<li>Jerome McGann, <a href="http://www.rc.umd.edu/pedagogies/commons/innovations/IVANHOE.html" target="_blank">IVANHOE: Education in a New Key</a></li>
<li>Jerome McGann and Johanna Drucker, <a href="http://www.rc.umd.edu/pedagogies/commons/innovations/mcgann3.html" target="_blank">&#8220;Fare Thee Well!&#8221;</a>: an IVANHOE Demonstration (Flash design by Laura Mandell)</li>
</ul>


