  <div id="bodytext"> <!-- InstanceBeginEditable name="body_text_edit" -->   <p>Included<span class="body_text_page">here
will be an archive of games that have been played with the software
since its implementation in 2004. A series of test games were run in
the fall and winter of 2004-2005, and in the spring of 2005 games were
run in three classes at the <a href="http://www.virginia.edu/">University of Virginia</a>:
Jerome McGann's graduate class in literary theory and method (ENNC982);
Herbert Tucker's undergraduate class in Victorian literature (ENNC
482A); and Jessica Feldman's graduate class (ENNC814). </span></p> 
  <!-- InstanceEndEditable --> </div>