
  <div id="bodytext"> <!-- InstanceBeginEditable name="body_text_edit" -->  
  <p class="link_top">Related Groups</p>
  
      <p><a href="http://www.speculativecomputing.org/">SpecLab</a>
(Speculative Computing Lab @ UVA)</p>
    <p><a href="http://www.patacriticism.org/">ARP</a> (Applied Research
in Patacriticism)</p>

    <p><a href="http://www.nines.org/">NINES</a> (Networked Interface
for Nineteenth-Century Electronic Scholarship)</p>
 
    <p class="link_top">Related Projects</p>
  
    <p>Juxta</p>
    <p>Collex</p>

    <p><a href="http://www.iath.virginia.edu/rossetti">Rossetti Archive</a>
(re)Design
    </p><p>The 'Patacritical Demon</p>
 
 <p>Special Issue of <i><a href="http://texttechnology.mcmaster.ca/">Text
Technology</a></i> (12:2, 2003)</p>

<p>Johanna Drucker and Geoffrey Rockwell, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_01.pdf">Introduction:
Reflections on the Ivanhoe Game</a></p>
 <p>Jerome McGann, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_02.pdf">Texts in
N-Dimensions and Interpretation in a New Key</a></p>
 <p>Johanna Drucker, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_03.pdf">Designing
Ivanhoe</a></p>
    <p>Chandler Sansing, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_04.pdf">Building
the Ivanhoe Game for Classroom Flexibility</a></p>
    <p>Bethany Nowviskie, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_05.pdf">Subjectivity
in the Ivanhoe Game: Visual and Computational Strategies</a></p>

    <p>Geoffrey Rockwell, <a href="http://texttechnology.mcmaster.ca/pdf/vol12_2_06.pdf">Serious
Play at Hand: Is Gaming Serious Research in the Humanities?</a></p>
  
  <p>Special "Innovations" Issue of <i><a href="http://www.rc.umd.edu/pedagogies/commons/innovations">Romantic Circles
Pedagogy Commons</a></i> (January 2005)</p>
 
 <p>Jerome McGann, <a href="http://www.rc.umd.edu/pedagogies/commons/innovations/IVANHOE.html" target="_blank">IVANHOE: Education in a New Key</a></p>

 <p>Jerome McGann and Johanna Drucker, <a href="http://www.rc.umd.edu/pedagogies/commons/innovations/mcgann3.html" target="_blank">"Fare Thee Well!"</a>: an IVANHOE Demonstration
(Flash design by Laura Mandell)</p>
 <p class="link_top">Other Resources</p>
    <p>SpecLab <a href="http://www.speculativecomputing.org/ivanhoe/index.html">IVANHOE
page</a></p>
  
  <!-- InstanceEndEditable --> </div>