<h2>New Player</h2>

<%= error_messages_for :player %>

<% form_for(:player, :url => players_path) do |f| %>
  <%= render :partial => "form", :locals => { :form => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>