
  <div id="bodytext"> <!-- InstanceBeginEditable name="body_text_edit" -->   <p class="body_text_page">For instructions on how to play the IVANHOE game, please visit our <a href="http://patacriticism.org/ivanhoe/help">documentation reference page</a> (opens in a new window.) Last updated: October 2004. </p> 
  <!-- InstanceEndEditable --> </div>