<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <title>The Ivanhoe Game, an ARP Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
<div id="containerpadded">
  <div id="header">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="640" height="164">
      <param name="movie" value="ivanhoe_header2.swf" />
      <param name="quality" value="high" />
      <embed src="/images/ivanhoe_header2.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="640" height="164"></embed>
    </object>
 </div>  
  
  <div id="topmenu">
    <ul>
      <li class="normal"><a href="/main/about">about</a></li>
	  <li class="normal"><a href="/main/demo">demo</a></li>
      <li class="normal"><a href="/main/help">help</a></li>
      <li class="normal"><a href="/main/archive">archive</a></li>

      <li class="normal"><a href="/main/links">links</a></li>
      <li class="normal"><a href="/main/contact">contact</a></li>
    </ul>
  </div>
   
  <div id="bodytext"><p class="left-element style1">
    <%= yield %>
  </div>
  <div id="copyright"> &copy; 2007 The Ivanhoe Group. An <a href="http://patacriticism.org">ARP</a> Project. </div>
  <div id="credits"><a href="/main/credits"> Site Credits</a></div>
</div>
</body>
</html>
