
#account-bar {
    float: right;
    clear: both;
}

#game-list {
    width: 80%;
}

.game-list-row {
    width: 80%;
}

.form-label {
    width: 30%;
}

.form-field {
    width: 60%;
}

.form-field-checkbox {
    width: 15px;
}

.source-list {
    float: left;
    margin: 20px;
}

.migrate-button {
    margin-top: 120px;
    float: left;
}

.dest-list {
    float: left;
    margin: 20px;
}

.dest-list select {
    width: 200px;
}

.update-button {
    clear: both;
    float: right;   
}