<h2>Player List</h2>

<table id="game-list">
  <tr>
  </tr>
  
<% for player in @players %>
  <tr>
    <td><%= link_to player.display_name, player_path(player) %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Remove', player_path(player), :confirm => "Delete \"#{player.playername}\" player account?", :method => :delete %></td>
  </tr>
<% end %>
</table>
