<p class="left-element style1">Game Title<br/><%= form.text_field 'name' %></p>
<p class="left-element style1">Description<%= form.text_area 'description' %></p>
<p class="left-element style1">Objectives<%= form.text_area 'objectives' %></p>
   
<p class="left-element style1"><%= form.check_box 'private' %> Private</p>
<p class="left-element style1"><%= form.check_box 'restricted' %> Restricted</p>
      
<p class="left-element style1">Starting Document Weight<br/><%= form.text_field 'startDocWeight' %></p>  