<h1 class="left-element style1">Editing Ivanhoe Game</h1>

<%= error_messages_for :game %>

<% form_for(:game, :url => game_path(@game), :html => { :method => :put }) do |f| %>
   <%= render :partial => "form", :locals => { :form => f } %>
  <p class="left-element style1"><%= submit_tag "Update" %></p>
<% end %>

