<div id="bodytext">

<h1 >Ivanhoe Games</h1>

<p >The following games are currently active:</p>

<table >
  <tr>
  </tr>
  
<% for game in @games %>
  <tr>
    <td><a href="games/show/<%= game.id %>"><%= game.name %></a></td>
    <td><a href="games/launch/<%= game.id %>.jnlp">play</a></td>
    <td><a href="games/destroy/<%= game.id %>">delete</a></td>
  </tr>
<% end %>
</table>

<p ><a href="games/new">create a new game</a></p>
  
</div>