<div id="bodytext">

<h1 class="left-element style1">Ivanhoe Games</h1>

<p class="left-element style1">The following is a list of the currently active Ivanhoe Games.</p>


<table class="left-element style1">
  <tr>
  </tr>
  
<% for game in @games %>
  <tr>
    <td><a href="games/show/<%= game.id %>"><%= game.name %></a></td>
    <td><a href="games/launch/<%= game.id %>.jnlp">play</a></td>
  </tr>
<% end %>
</table>

  
</div>