<p >Game Title<br/><%= form.text_field 'name' %></p>
<p >Description<%= form.text_area 'description' %></p>
<p >Objectives<%= form.text_area 'objectives' %></p>
   
<p ><%= form.check_box 'private' %> Private</p>
<p ><%= form.check_box 'restricted' %> Restricted</p>
      
<p >Starting Document Weight<br/><%= form.text_field 'startDocWeight' %></p>  